html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
body * {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}

section p {
    text-align: center;
    display: block;
}

/* RESPONSIVE MEDIA QUERIES */
@media screen and (min-width: 800px) {
    /* flexbox */
    .s2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .s2 > * {
        width: 100%;
    }
    .s2 .s3 {
        width: calc(100% / 2);
        max-width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    /* flexbox */
    .s2 .s3 {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1600px) {
    /* flexbox */
    .s2 .s3 {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 2000px) {
    /* flexbox */
    .s2 .s3 {
        width: calc(100% / 5);
    }
}

@media screen and (min-width: 2400px) {
    /* flexbox */
    .s2 .s3 {
        width: calc(100% / 6);
    }
}
