html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
body * {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}

p {
    text-align: center;
    display: block;
    margin:0;
    padding: 1rem;
}

img {
    width:100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.of-contain {
    object-fit: contain;
}
.of-cover {
    object-fit: cover;
}

.ar50 {
    aspect-ratio: 2/1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pad1 {
    padding: 1rem;
}
.pad2 {
    padding: 2rem;
}
.pad3 {
    padding: 3rem;
}
.pad4 {
    padding: 4rem;
}
/* CSS3: width depending on number of siblings */
/* one item */
.col:first-child:nth-last-child(1) {
/* -or- li:only-child { */
    width: 100%;
}

/* two items */
.col:first-child:nth-last-child(2),
.col:first-child:nth-last-child(2) ~ .col {
    width: calc(100% / 2);
}

/* three items */
.col:first-child:nth-last-child(3),
.col:first-child:nth-last-child(3) ~ .col {
    width: calc(100% / 3);
}

/* four items */
.col:first-child:nth-last-child(4),
.col:first-child:nth-last-child(4) ~ .col {
    width: calc(100% / 4);
}

/* five items */
.col:first-child:nth-last-child(5),
.col:first-child:nth-last-child(5) ~ .col {
    width: calc(100% / 5);
}
/* six items */
.col:first-child:nth-last-child(6),
.col:first-child:nth-last-child(6) ~ .col {
    width: calc(100% / 6);
}
.col {
    width: calc(100% / 6);
    text-align: center; 
}

/* RESPONSIVE MEDIA QUERIES */
@media screen and (min-width: 800px) {
    /* flexbox */
    .s2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: top;
        flex-wrap: wrap;
        padding-bottom: 4rem;
    }
    .s2 > * {
        width: 100%;
    }
    .s2 .s3 {
        width: clamp(400px, calc(100% / 2), 800px);
    }
}

@media screen and (min-width: 1200px) {
    /* flexbox */
    .s2.x3col .s3, .s2.x4col .s3, .s2.x5col .s3, .s2.x6col .s3 {
        width: clamp(400px, calc(100% / 3), 800px);
    }
}

@media screen and (min-width: 1600px) {
    /* flexbox */
    .s2.x4col .s3, .s2.x5col .s3, .s2.x6col .s3 {
        width: clamp(400px, calc(100% / 4), 800px);
    }
}

@media screen and (min-width: 2000px) {
    /* flexbox */
    .s2.x5col .s3, .s2.x6col .s3 {
        width: clamp(400px, calc(100% / 5), 800px);
    }
}

@media screen and (min-width: 2400px) {
    /* flexbox */
    .s2.x6col .s3 {
        width: clamp(400px, calc(100% / 6), 800px);
    }
}

.wmax14 {
    max-width: 1400px;
    margin: 0 auto;
}
